  - name: Install Node
    become: true
    apt:
      name: ["nodejs", "npm"]
    tags:
      - install
      - node

  - name: npmjs prefix
    shell: mkdir -p ~/.local/.npm-global
    tags:
      - install
      - node
  - name: add npmjs to path
    shell: PATH=~/.local/.npm-global/bin:$PATH

  - name: npmjs global settings
    shell: npm config set prefix '~/.local/.npm-global'

  - name: Install n
    npm:
      name: n
      global: yes
    tags:
      - install
      - node

  - name: Install correct version of Node
    shell: n 18
    tags:
      - install
      - node

